[submodule "teleop/televuer"]
	path = teleop/televuer
	url = https://github.com/SloBruno/televuer.git
[submodule "teleop/robot_control/dex-retargeting"]
	path = teleop/robot_control/dex-retargeting
	url = https://github.com/SloBruno/dex-retargeting.git
[submodule "teleop/teleimager"]
	path = teleop/teleimager
	url = https://github.com/SloBruno/teleimager.git
